<table class="table table-hover">
    {% for post in posts %}
    <tr><td>
    <div class="media">
        <div class="media-left">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded media-object" src="{{ post.author.gravatar(size=40) }}" />
            </a>
        </div>
        <div class="media-body">
            <div class="pull-right">{{ moment(post.timestamp).fromNow() }}</div>
            <div class="media-heading">
                <a href="{{ url_for('.user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>
            <div>
                {% if post.body_html %}
                    {{ post.body_html | safe }}
                {% else %}
                    {{ post.body }}
                {% endif %}
            </div>
            <div class="text-right">
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">Permalink</span>
                </a>
            </div>
        </div>
    </div>
    </td></tr>
    {% endfor %}
</table>
