{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="media">
        <div class="media-left">
            <img class="img-rounded media-object" src="{{ user.gravatar(size=256) }}" />
        </div>
        <div class="media-body">
            <h1 class="media-heading">{{ user.username }}</h1>
            <hr>
            <p>
            {% if user.first_name and user.last_name %}
                {{ user.first_name }} {{ user.last_name }}<br>
            {% endif %}
            {% if user.location %}
                From <a href="http://maps.google.com/?q={{ user.location }}">
                    {{ user.location }}
                </a>
            {% endif %}
            </p>
            {% if current_user.is_administrator() %}
            <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                Member since {{ moment(user.member_since).format('L') }}.
                Last seen {{ moment(user.last_seen).fromNow() }}.
            </p>
            <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('.edit_profile') }}"> Edit Profile </a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('.edit_profile_admin', id=user.id) }}"> Edit Profile [Admin] </a>
            {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
